<!DOCTYPE html>
<html >
<head>
    <meta charset="UTF-8">
    <title>聊天室</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <link rel="stylesheet" type="text/css" href="../../lib/layui/css/layui.css"/>
    <link rel="stylesheet" type="text/css" href="../../css/talk.css"/>
    <link rel="stylesheet" type="text/css" href="../../css/infostyle.css"/>


</head>
<body>
<div class="layui-container" style="margin-top:10px;">
    <div class="layui-row">
        <div class="layui-col-md1" style="height:1px;">
            <div class="grid-demo"></div>
        </div>
        <div class="layui-col-xs10" style="height:700px;box-shadow: 0px 1px 3px rgba(130, 85, 80, 0.5);">
            <div class="grid-demo grid-demo-bg1">
                <div class="layui-tab layui-tab-brief" lay-filter="docDemoTabBrief">
                    <ul class="layui-tab-title">
                        <li class="layui-this">
                            <i class="layui-icon layui-icon-dialogue" style="font-size: 20px;"></i>&nbsp;聊天
                        </li>
                        <li>
                            <i class="layui-icon layui-icon-group" style="font-size: 20px;"></i>&nbsp;聊天大厅
                        </li>
                        <li>
                            <i class="layui-icon layui-icon-search" style="font-size: 20px;"></i>&nbsp;加好友
                        </li>
                        <!--<li>-->
                            <!--<i class="layui-icon layui-icon-group" style="font-size: 20px;"></i>&nbsp;创建群聊-->
                        <!--</li>-->
                    </ul>
                    <div class="layui-tab-content" style="padding:0px;">

                        <div class="layui-tab-item layui-show" id="vuechat">
                            <input type="hidden" id="mp3_end"  value="tom">
                            <div style="width: 100%;">
                                <div class="alluser" onmouseover="leftscroll(1)" onmouseleave="leftscroll(2)" id="leftscroll">
                                    <div id="appLoading">
                                        <div class="spinner">
                                            <div class="rect1"></div>
                                            <div class="rect2"></div>
                                            <div class="rect3"></div>
                                            <div class="rect4"></div>
                                            <div class="rect5"></div>
                                        </div>
                                    </div>
                                    <ol id="leftc" style="display: none;">
                                        <li v-for="(item,index) in listnickname" :key="index"
                                            @click="selectStyle(item,item.userId)" :class="{'active':item.active,'unactive':!item.active,'leftnickename':true}">
                                            <p>
                                                <img :src=item.avatarImg style="border-radius:50%;height:60px;">
                                                <span :class="{'layui-badge-dot':item.newnote,'':!item.newnote,'newnoteid':true}"></span>
                                                {{item.nickName}}
                                            </p>
                                        </li>
                                    </ol>
                                </div>
                                <div style="width:84%;float: left;height:626px;">
                                    <div id="appLoading2" style="display: none;">
                                        <div class="spinner">
                                            <div class="rect1"></div>
                                            <div class="rect2"></div>
                                            <div class="rect3"></div>
                                            <div class="rect4"></div>
                                            <div class="rect5"></div>
                                        </div>
                                    </div>
                                    <div id="waits" style="text-align: center;margin-top:250px">
                                        <h1>打开世界的另一扇窗</h1>
                                        <span>主动一点，世界会更大。</span>
                                    </div>
                                    <div id="words" style="display: none">
                                        <div class="talk_show talkimg" id="msgcontent" onmouseover="leftscroll(3)"
                                             onmouseleave="leftscroll(4)">
                                            <div v-for="(msg,index) in listmessage" :key="index">
                                                <div v-if="msg.fromUserId === userId">
                                                    <div class="rtalk" :id="index" >
                                                        <span v-html="msg.sendtext" @click="openimg(index)"></span>
                                                    </div>
                                                </div>
                                                <div v-if="msg.fromUserId != userId">
                                                    <div class="ltalk" :id="index" >
                                                        <span v-html="msg.sendtext" @click="openimg(index)"></span>
                                                    </div>
                                                </div>
                                            </div>
                                            <div id="msg_end" style="height:0px; overflow:hidden"></div>

                                        </div>
                                        <div style="background-color:white;height:200px;">
                                            <div class="layui-form-item layui-form-text" style="margin:0 auto;">
                                                <div class="layui-input-block" style="margin: 0 auto;">
                                                    <textarea class="layui-textarea layui-hide" name="content"
                                                              lay-verify="content" id="LAY_demo_editor"></textarea>
                                                </div>
                                            </div>
                                            <button class="layui-btn layui-btn-sm" data-type="reload"
                                                    style="float: right;position: relative;" @click="send">发送
                                            </button>

                                            <button class="layui-btn layui-btn-sm" data-type="reload"
                                                    style="float: right;position: relative;" @click="logout">退出
                                            </button>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>

                        <div class="layui-tab-item" >
                            <!--<iframe src="group.html" frameborder="0" class="layadmin-iframe" style="height:679px; width: 941px;"></iframe>-->
                            <div>
                                <p style="margin-top: 37px; text-align:center;">待开发</p>
                            </div>
                        </div>

                        <div class="layui-tab-item" id="userinfo">
                                <div class="layui-form-item" style="margin-right:40px;margin-top: 9px">
                                    <label class="layui-form-label">账号</label>
                                    <div class="layui-input-block">
                                        <input type="text" name="searchUserName" autocomplete="off" placeholder="请输入账号" lay-verify="required"  style="width: 70%;height: 38px;">
                                        <button class="layui-btn layui-btn-primary" @click="lookuser" >查询</button>
                                    </div>
                                </div>

                            <div style="display:none;" id="info">

                                <div class="single-member effect-1" v-if="userinfo != null">
                                    <div>
                                        <img :src="userinfo.avatarImg" style="width:100px" alt="Member" class="layui-circle">
                                    </div>
                                    <div class="member-info">
                                        <h3>{{userinfo.nickName}}</h3>
                                        <p>{{userinfo.signature}}</p>
                                        <button type="button" class="layui-btn layui-btn-sm layui-btn-normal" @click="adduser(userinfo.username)">加好友
                                        </button>
                                    </div>
                                </div>
                                <div class="single-member effect-1" v-else>
                                    <div>
                                        <p style="margin-top: 37px;">该用户不存在</p>
                                    </div>
                                </div>
                            </div>
                        </div>

                        <!--<div class="layui-tab-item">-->
                            <!--&lt;!&ndash;<div class="layui-form-item" style="margin-right:40px;margin-top: 9px">&ndash;&gt;-->
                                <!--&lt;!&ndash;<label class="layui-form-label">群账号</label>&ndash;&gt;-->
                                <!--&lt;!&ndash;<div class="layui-input-block">&ndash;&gt;-->
                                    <!--&lt;!&ndash;<input type="text" name="groupName" autocomplete="off" placeholder="请输入群账号" lay-verify="required"  style="width: 70%;height: 38px;">&ndash;&gt;-->
                                    <!--&lt;!&ndash;<button class="layui-btn layui-btn-primary" id="createGroup" >创建</button>&ndash;&gt;-->
                                <!--&lt;!&ndash;</div>&ndash;&gt;-->
                            <!--&lt;!&ndash;</div>&ndash;&gt;-->
                            <!--<div>-->
                                <!--<p style="margin-top: 37px; text-align:center;">待开发</p>-->
                            <!--</div>-->
                        <!--</div>-->


                    </div>
                </div>
            </div>
        </div>
        <div class="layui-col-md1" style="height:1px;">
            <div class="grid-demo"></div>
        </div>
    </div>
</div>


<div id="mikeDiv" style="padding-top: 15px; display: none" >
    <audio controls class="audio-player"></audio>
    <button class="layui-btn layui-btn-sm record-btn layui-btn-radius" style="margin-bottom: 30px">开始录音</button>
</div>

<script src="../../lib/layui/layui.js"></script>
<script src="../../lib/layui/vue.js"></script>
<script src="../../js/voice.js"></script>
<script>
    layui.config({base:'/js/modules/'}).use(['chats'],function () {
        let chats = layui.chats;
        chats.init();
    });

    /*控制鼠标移动到div显示或者隐藏div的滚动*/
    function leftscroll(id) {
        if (id == 1) {
            document.getElementById("leftscroll").style.overflowY = "auto";
            document.getElementById("leftscroll").style.overflowX = "hidden";
        } else if (id == 2) {
            document.getElementById("leftscroll").style.overflowY = "hidden";
            document.getElementById("leftscroll").style.overflowX = "hidden";
        } else if (id == 3) {
            document.getElementById("msgcontent").style.overflowY = "auto";
            document.getElementById("msgcontent").style.overflowX = "hidden";
        } else if (id == 4) {
            document.getElementById("msgcontent").style.overflowY = "hidden";
            document.getElementById("msgcontent").style.overflowX = "hidden";
        }
    }





</script>
</body>
</html>
