<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <div th:include="common/header::header"></div>
</head>
<body>
<div class="dowebok">
    <div class="form sign-in" style="margin-top:80px">
        <h2>ChatRoom创建账号</h2>
        <form class="layui-form">
        <label>
            <span>账号</span>
            <input type="text" lay-verify="required" name="username" placeholder="请输入账号"  onkeyup="this.value=this.value.replace(/\s+/g,'')"/>
        </label>
        <label style="margin-top:40px">
            <span>密码</span>
            <input type="password" lay-verify="required" name="password"  placeholder="请输入密码"  onkeyup="this.value=this.value.replace(/\s+/g,'')"/>
        </label>
        <button class="submit"  style="margin-top:40px" lay-filter="login" lay-submit="">确认</button>
        <p align="center"><a href="login">已有账号,请登陆</a></p>
        </form>
    </div>
</div>


<script>
        layui.use(["form", "okGVerify", "okUtils", "okLayer","okMd5","okMock"], function () {
            let form = layui.form;
            let $ = layui.jquery;
            let okUtils = layui.okUtils;
            let okLayer = layui.okLayer;
            let md5 = layui.okMd5;
            let okMock = layui.okMock;

            /**
             * 表单提交
             */
            form.on("submit(login)", function (data) {
                data.field.password = md5(data.field.password);
                data.field.username = data.field.username;
                okUtils.ajax(okMock.api.baseUrl + "register", "post", data.field, true).done(function (response) {
                    okLayer.greenTickMsg(response.msg, function () {
                        window.location = okMock.api.baseUrl + "login";
                    })
                }).fail(function (error) {
                    console.log(error)
                });
                return false;
            });

        });
</script>
</body>
</html>
