<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.movie.dao.MovieDao">

    <select id="findPageBySql" resultType="com.movie.model.Movie" parameterType="java.util.HashMap">
        SELECT
        id,
        moviceName,
        movicePlayerUrl,
        movicePictureUrl,
        moviceLocalUrl,
        language,
        country,
        mainCharacter,
        director,
        duration,
        moviceReleaseTime
        FROM
        fh_movie
        <where>
            isdelete = 0
            <if test="moviceName != null and moviceName != ''">
                and moviceName like #{moviceName}
            </if>
            <if test="director != null and director != ''">
                and director like #{director}
            </if>
            <if test="mainCharacter != null and mainCharacter != ''">
                and mainCharacter like #{mainCharacter}
            </if>
        </where>
      ORDER BY id desc
    </select>

</mapper>
