<!DOCTYPE html>
<html  xmlns:th="http://www.thymeleaf.org"
      th:fragment="header">
<head>
    <meta charset="UTF-8">
    <link rel="icon" >
    <title th:text="${okCache.sitename}"></title>
    <link rel="shortcut icon" th:href="@{/images/favicon.ico}" type="image/x-icon"/>
    <link rel="stylesheet" th:href="@{/css/oksub.css}" />
    <link rel="stylesheet" th:href="@{/css/okadmin.css}">
    <link rel="stylesheet" th:href="@{/lib/fonts/iconfont.css}">
    <script th:src="@{/lib/layui/layui.js}"></script>

</head>

</html>
