<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <title>添加</title>
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
    <link rel="stylesheet" href="../../css/oksub.css">
    <link rel="stylesheet" href="../../lib/css/layui.css">
    <script type="text/javascript" src="../../lib/loading/okLoading.js"></script>
</head>
<body>
<div class="ok-body">
    <!--form表单-->
    <form class="layui-form layui-form-pane ok-form">


        <div class="layui-form-item">
            <label class="layui-form-label">名称</label>
            <div class="layui-input-block">
                <input type="text" name="name" autocomplete="off" class="layui-input" lay-verify="required">
            </div>
        </div>
        <div class="layui-form-item">
            <label class="layui-form-label">类型</label>
            <div class="layui-input-block">
                <input type="text" name="type" autocomplete="off" class="layui-input" lay-verify="required">
            </div>
        </div>
        <!--<div class="layui-form-item">-->
            <!--<label class="layui-form-label">图片</label>-->
            <!--<div class="layui-input-block">-->
                <!--<input type="text" name="picture" autocomplete="off" class="layui-input" lay-verify="required">-->
            <!--</div>-->
        <!--</div>-->

        <div class="layui-form-item">
            <label class="layui-form-label">图片</label>
            <div class="layui-input-block">
                <input type="hidden" name="picture"  autocomplete="off" class="layui-input upload_filePath">
                <div class="layui-upload">
                    <button type="button" class="layui-btn" id="submitpicture">上传图片</button>
                    <div class="layui-upload-list">
                        <img class="layui-upload-img okadmin_images"  >
                        <p id="upload_error"></p>
                    </div>
                </div>
            </div>
        </div>


        <div class="layui-form-item">
            <label class="layui-form-label">播放源</label>
            <div class="layui-input-block">
                <input type="text" name="m3u8" autocomplete="off" class="layui-input" lay-verify="required">
            </div>
        </div>
        <div class="layui-form-item">
            <label class="layui-form-label">热度</label>
            <div class="layui-input-block">
                <input type="text" name="fire" autocomplete="off" class="layui-input" lay-verify="required">
            </div>
        </div>
        <div class="layui-form-item">
            <label class="layui-form-label">更新时间</label>
            <div class="layui-input-block">
                <input type="text" name="last" autocomplete="off" class="layui-input" lay-verify="required">
            </div>
        </div>

        <div class="layui-form-item">
            <div class="layui-input-block">
                <button class="layui-btn" lay-submit lay-filter="add">立即提交</button>
                <button type="reset" class="layui-btn layui-btn-primary">重置</button>
            </div>
        </div>
    </form>
</div>
<!--js逻辑-->
<script src="../../lib/layui/layui.js"></script>
<script>
    layui.config({base: '/js/modules/'}).use(['pornHub'], function () {
        let pornHub = layui.pornHub;
        pornHub.add();
    });
</script>
</body>
</html>
